* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  min-height: 50px;
  color: white;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

main {
  flex: 2;
  background-color: orange;
  min-height: 500px;
}

aside {
  flex: 1;
  background-color: royalblue;
  min-height: 500px;
}